header {
    padding: 20px;
    text-align: center;
    background-color: rgb(28, 177, 28);
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
}

section {
    display: flex;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(28, 177, 28);
    border-radius: 7px;
    margin-top: 20px;
    color: white;

}

#center {
    margin-left: 15px;
    margin-right: 15px;
}